/*
This was made by João Sardinha
Visit me at http://johnsardine.com/

The table style doesnt contain images, it contains gradients for browsers who support them as well as round corners and drop shadows.

It has been tested in all major browsers.

This table style is based on Simple Little Table By Orman Clark,
you can download a PSD version of this at his website, PremiumPixels.
http://www.premiumpixels.com/simple-little-table-psd/

PLEASE CONTINUE READING AS THIS CONTAINS IMPORTANT NOTES

*/

/*
Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------------------ */
body, html  {
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size:12px;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
 }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table.personal-stats,table.make-bet {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */


/*------------------------------------------------------------------ */

header{
    padding: 10px 30px;
    background: #f0f0f0;
    text-align: right;
}


/*This is not important*/
body{
	margin:0 auto;
}
a:link {
	color: #666;
	text-decoration:underline;
}
a:visited {
	color: #666;
	font-weight:bold;
	text-decoration:underline;
}
a:active,
a:hover {
	text-decoration:underline;
}


a.vk{
    font-size: 20px;
}

div.login{
    text-align: center;
    margin: 30px;
}


div#content{
    padding: 20px;
    font-size: 16px;
}

div.clear{
    clear: both;
}

div.rules{
    max-width: 700px;
}


div#content li{
    padding-top: 10px;
}


div.overall-scores-wrapper{
    margin-left: 150px;
}
div.overall-names-wrapper{
    width: 150px;
    float: left;
}


/*
Tables Style

------------------------------------------------------------------ */


table.overall.names{
    width: 150px;

}

table.personal-stats a:link,
table.overall a:link,
table.make-bet a:link  {
	color: #666;
	font-weight: bold;
    text-decoration: none;
}
table.personal-stats a:visited,
table.make-bet a:visited  {
	color: #999999;
	font-weight:bold;
}

table.personal-stats a:active,
table.personal-stats a:hover,
table.overall a:active,
table.overall a:hover,
table.make-bet a:active,
table.make-bet a:hover {
	color: #bd5a35;
}
table.personal-stats,
table.make-bet,
table.overall {

    font-size:12px;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
    white-space:nowrap;
}
table.personal-stats th,
table.make-bet th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.personal-stats th:first-child,
table.make-bet th:first-child{
	text-align: left;
	padding-left:20px;
}
table.personal-stats tr:first-child th:first-child,
table.make-bet tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.personal-stats tr:first-child th:last-child,
table.make-bet tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.personal-stats tr,
table.make-bet tr{
	text-align: center;
	padding-left:20px;
}
table.personal-stats tr td:first-child,
table.overall tr td:first-child,
table.make-bet tr td:first-child{
	text-align: left;
	border-left: 0;
}

table.overall.scores tr td:first-child{
    text-align: center;

}

table.overall.names tr td:first-child{
    border-left: 3px solid #fffc83;
}

table.overall.names tr.free td:first-child{
    border-left: 3px solid #96cb92;
}


table.personal-stats tr td,
table.make-bet tr td,
table.overall tr td{
	padding:10px;

	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fefefe));
	background: -moz-linear-gradient(top,  #fff,  #fefefe);
}

table.overall tr td.overall-score{
    font-weight: bold;
    text-align: center;
}

table.overall tr td.has-bet{
    background: #ffffbb;
}

table.overall tr td span,
table.personal-stats  tr td span {
    font-weight: bold;
    text-decoration: none;
}
table.overall tr td span.winner,
table.personal-stats  tr td span.winner {
    color: #e33;
}


table.overall tr th{
    padding: 5px;
    min-width: 40px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}


table.overall.names tr th, table.overall.scores tr th.overall-score-label {
    height: 60px;
}

table.make-bet tr td input{
    width: 40px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border:1px solid #ccc;
}
table.personal-stats tr td.visitor,
table.personal-stats tr td.game-score {
    border-left: 0px solid #e0e0e0;
}

table.personal-stats tr td.visitor {
    text-align: left;
}
table.personal-stats tr td.home {
    text-align: right;
}

table.personal-stats tr.even td,
table.make-bet tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.personal-stats tr:last-child td,
table.make-bet tr:last-child td{
	border-bottom:0;
}
table.personal-stats tr:last-child td:first-child,
table.make-bet tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.personal-stats tr:last-child td:last-child,
table.make-bet tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.personal-stats tr:hover td{
    background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

table.personal-stats tr.available-to-bet td{
    cursor: pointer;
}
table.personal-stats tr.available-to-score td{
    cursor: pointer;
	background: #ffffcc;
}

table.personal-stats tr.available-to-score:hover td{
	background: #ffffbb;
}

button {
	position:relative;
    top:0px;
    left:0px;
	background-color:#ebebeb;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    margin: 20px 0px;
}

button:hover {
	background-color:#dfdfdf;
}

button:active {
    top:1px;
    left:0px;
    -moz-box-shadow:inset 0px 0px 2px 2px #ccc;
	-webkit-box-shadow:inset 0px 0px 2px 2px #ccc;
	box-shadow:inset 0px 0px 2px 2px #ccc;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
.top-menu {
  background: #969696;
  width: auto;
}
.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.top-menu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.top-menu ul li {
  float: left;
  display: block;
  padding: 0;
}
.top-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.top-menu ul li a:hover {
  color: #333333;
}
.top-menu ul li a:hover:before {
  width: 100%;
}
.top-menu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.top-menu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
.top-menu ul li.last > a:after,
.top-menu ul li:last-child > a:after {
  display: none;
}
.top-menu ul li.active a {
  color: #333333;
}
.top-menu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .top-menu ul li {
    float: none;
  }
  .top-menu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .top-menu ul li a:after {
    display: none;
  }
  .top-menu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  .top-menu ul li.last > a:before,
  .top-menu ul li:last-child > a:before {
    display: none;
  }
}
