{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <script src="http://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://yandex.st/jquery-ui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'jqueryui-editable/js/jqueryui-editable.min.js' %}"></script>
    <script src="{% static 'smoothTouchScroll/js/jquery.kinetic.min.js' %}"></script>
    <script src="{% static 'smoothTouchScroll/js/jquery.smoothTouchScroll.min.js' %}"></script>
    <script src="{% static 'bets/js/scripts.js' %}?v2"></script>
    <script src="{% static 'bets/js/score-template.js' %}?v2"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'smoothTouchScroll/css/smoothTouchScroll.css' %}" />
    <link rel="stylesheet" href="{% static 'bets/css/ui-lightness/jquery-ui-1.10.4.min.css' %}?v1" />
    <link href="{% static 'jqueryui-editable/css/jqueryui-editable.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'bets/css/style.css' %}?v5" />

    <title>{% block title %}Bets: World Cup 2014{% endblock %}</title>
</head>

<body>
    <header>
    {% block header %}

    {% if user.is_authenticated %}
        {{ user.first_name }}  {{ user.last_name }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>)
    {% endif %}
    {% endblock %}
    </header>
    {% include "bets/navigation.html" %}
    <div id="content" class="{{ page }}">
    {% block content %}{% endblock %}
    </div>

    <footer>
    {% block footer %}

<!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25320191 = new Ya.Metrika({id:25320191, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, ut:"noindex",params:window.yaParams||{ }}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25320191?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    {% endblock %}
    </footer>
</body>

</html>