{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <script src="http://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://yandex.st/jquery-ui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'jqueryui-editable/js/jqueryui-editable.min.js' %}"></script>
    <script src="{% static 'smoothTouchScroll/js/jquery.kinetic.min.js' %}"></script>
    <script src="{% static 'smoothTouchScroll/js/jquery.smoothTouchScroll.min.js' %}"></script>
    <script src="{% static 'bets/js/scripts.js' %}?v1"></script>
    <script src="{% static 'bets/js/score-template.js' %}?v1"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'smoothTouchScroll/css/smoothTouchScroll.css' %}" />
    <link rel="stylesheet" href="{% static 'bets/css/ui-lightness/jquery-ui-1.10.4.min.css' %}" />
    <link href="{% static 'jqueryui-editable/css/jqueryui-editable.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'bets/css/style.css' %}?v4" />

    <title>{% block title %}Bets: World Cup 2014{% endblock %}</title>
</head>

<body>
    <header>
    {% block header %}

    {% if user.is_authenticated %}
        {{ user.first_name }}  {{ user.last_name }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>)
    {% endif %}
    {% endblock %}
    </header>
    {% include "bets/navigation.html" %}
    <div id="content" class="{{ page }}">
    {% block content %}{% endblock %}
    </div>

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
</body>

</html>