{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <script src="http://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'bets/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bets/css/style.css' %}" />

    <title>{% block title %}Bets: World Cup 2014{% endblock %}</title>
</head>

<body>
    <header>
    {% block header %}

    {% if user.is_authenticated %}
        {{ user.first_name }}  {{ user.last_name }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>)
    {% endif %}
    {% endblock %}
    </header>
    {% include "bets/navigation.html" %}
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
</body>

</html>