{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>Результат: {{ game }}</h2>

{% if is_available %}

<form action="/bets/game-score/{{ game.id }}/save" method="post">
    {% csrf_token %}
<input name = "game" value="{{ game.id }}" hidden >
    <table class = "make-bet">
        <thead>
            <tr>
                <th>Team</th>
                <th>Goals</th>
                <th>Winner (playoff)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ game.home  }}</td>
                <td><input type="number" name = "home_ft_score" value="{% if game.home_ft_score %}{{ game.home_ft_score  }}{% endif %}"/></td>
                <td><input type = "radio" name = "winner" value="0"

                    {% if game.id <= GROUP_GAMES %}
                    disabled
                    {% else %}
                          {% if game.winner != "1" %} checked {% endif %}
                    {% endif %}

                /></td>

            <tr>
                <td>{{ game.visitor  }}</td>
                <td><input type="number"  name = "visitor_ft_score" value="{% if game and game.visitor_ft_score %}{{ game.visitor_ft_score  }}{% endif %}"/></td>
                <td>
                    <input type = "radio" name = "winner" value="1"


                    {% if game.id <= GROUP_GAMES %}
                    disabled
                    {% else %}
                          {% if game and game.winner == "1" %} checked {% endif %}
                    {% endif %}


                />
                </td>

            </tr>
        </tbody>
    </table>
<button type="submit" class="save-score">Save</button>
</form>

{% else %}
    Ещё нельзя задать результат этого матча. Но можно сделать <a href="/bets/{{ game.id }}">ставку</a>
{% endif %}

{% endblock %}