{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "bets/navigation.html" %}

<style>

    .prediction, .score{
        text-align: center;
    }
    .prediction.final{
        background: #eee;
    }

</style>


{% if user_stats %}



    <table>
    <thead>
    <tr>
        <th>Game starts</th>
        <th colspan="3">Game</th>
        <th>Your prediction</th>
        <th>Your score</th>
    </tr>
    </thead>
    {% for user_bet in user_stats.user_bets %}
    <tbody>
        <tr>
            <td>{{ user_bet.game.local_time  }}</td>
            <td align = "right">
                {% if user_bet.show_link %}
                    <a href="/bets/{{ user_bet.game.id }}/">
                {% endif %}
                    {{ user_bet.game.home }}

                {% if user_bet.show_link %}
                    </a>
                {% endif %}
            </td>
            <td>{% if user_bet.game.home_ft_score %}
                    {{ user_bet.game.home_ft_score }}
                {% else %}
                    -
                {% endif %}
                :
                {% if user_bet.game.home_ft_score %}
                    {{ user_bet.game.visitor_ft_score }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if user_bet.show_link %}
                    <a href="/bets/{{ user_bet.game.id }}/">
                {% endif %}

                {{ user_bet.game.visitor }}

                {% if user_bet.show_link %}
                    </a>
                {% endif %}
            </a>
            </td>

            <td class = "prediction
                {% if not user_bet.show_link %}
                    final
                {% endif %}
            ">
                {% if user_bet.bet.home_ft_score != None  %}
                    {{ user_bet.bet.home_ft_score }}
                {% else %}
                    -
                {% endif %}
                :
                {% if user_bet.bet.visitor_ft_score != None %}
                    {{ user_bet.bet.visitor_ft_score }}
                {% else %}
                    -
                {% endif %}
            </td>
        <td class="score">
           {{ user_bet.score }}
        </td>
        </tr>
    </tbody>

    {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}