{% extends "base.html" %}
{% load i18n %}
{% block content %}



{% if user_stats %}



    <table class = "personal-stats">
    <thead>
    <tr>
        <th>Время начала</th>
        <th colspan="3">Игра</th>
        <th>Моя ставка</th>
        <th>Очки</th>
    </tr>
    </thead>
    {% for user_bet in user_stats.user_bets %}
    <tbody>
        <tr data-game-id = "{{ user_bet.game.id }}" class = "
            {% if not user_bet.show_link %}
                final
            {% else %}
                available-to-bet
            {% endif %}
            "
        >
            <td>{{ user_bet.game.local_time  }}</td>
            <td class = "home">
                    {{ user_bet.game.home }}

            </td>
            <td class = "game-score">
                <span class = "{% if user_bet.game.winner == 0 and user_bet.game.id > GROUP_GAMES %}winner{% endif %}">
                {% if user_bet.game.home_ft_score %}
                    {{ user_bet.game.home_ft_score }}
                {% else %}
                    -
                {% endif %}
                </span>
                :
                <span class = "{% if user_bet.game.winner == 1 and user_bet.game.id > GROUP_GAMES %}winner{% endif %}">
                {% if user_bet.game.home_ft_score %}
                    {{ user_bet.game.visitor_ft_score }}
                {% else %}
                    -
                {% endif %}
                </span>
            </td>
            <td  class = "visitor">

                {{ user_bet.game.visitor }}

            </td>

            <td class = "prediction">



                <span class = "{% if user_bet.bet.winner == 0 and user_bet.bet.game.id > GROUP_GAMES  %}winner{% endif %}">
                {% if user_bet.bet.home_ft_score != None  %}
                    {{ user_bet.bet.home_ft_score }}
                {% else %}

                    -
                {% endif %}
                </span>
                :
                <span class = "{% if user_bet.bet.winner == 1 and user_bet.bet.game.id > GROUP_GAMES %}winner{% endif %}">
                {% if user_bet.bet.visitor_ft_score != None %}
                    {{ user_bet.bet.visitor_ft_score }}
                {% else %}
                    -
                {% endif %}
                </span>
            </td>
        <td class="user-score">
           {{ user_bet.score }}
        </td>
        </tr>
    </tbody>

    {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}