<div class = "top-menu">
  <span class="left"></span>
    <ul>
        <li class = "
            {% if page == "index" %}
                active
            {% endif %}
        "><a href = "/">Матчи</a></li>

        <li class = "
            {% if page == "overall" %}
               active
            {% endif %}
        "><a href = "/bets/overall/">Сводная таблица</a></li>

        <li class = "last
            {% if page == "rules" %}
               active
            {% endif %}
        "><a href = "/bets/rules/">Правила</a></li>
    </ul>
  <span class="right"></span>
</div>
