{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="rules">
    <h2>Общие правила</h2>

    Делаем ставки на игры ЧМ2014 и получаем удовольствие :).
    <ol>
    <li>Каждый может сделать неограниченное число ставок на игру, но засчитывается только последняя перед началом матча. Но зачем-нибудь можно восстановить все попытки;
    <li>Играть можно на деньги и не на деньги:
                <ul>
                    <li>На деньги взнос 500р, в конце выигрыш делится между победителями. По умолчанию все попадают в список играющих на деньги :)</li>
                    <li>Для игры не на деньги нужно сообщить мне (Лёше) и я проставлю вам соответствующую группу;</li>
                </ul>
    <li>Схема начисления очков:
        <ul>
        <li>Угаданный счёт матча - 5 очков;</li>
        <li>Угаданная разница в счёте - 2 очка;</li>
        <li>Угаданный исход - 1 очко;</li>
        <li>В плей-офф можно получить бонусное очко, если правильно отметить прошедшую дальше команду.</li>
    </ul></li>
    <li>В сводной таблице до начала матча можно видеть, кто поставил на игру, но нельзя узнать, какая ставка. Как только матч начался - все ставки открываются </li>
    <li>У нас есть два дополнительных персонажа - Mr. Trololo и Капитан Очевидность.
        <ul>
            <li>Трололо получает за каждый групповой матч 5 очков минус максимальный результат соперника
            (плей-офф: 6 минус максимальный результат соперника). Учитываются только соперники, играющие на деньги;</li>
            <li>КО делает просто самую популярную ставку. В плей-офф выбирает победителя так как большинство</li>
        </ul>

        </li>
    </ol>
</div>
{% endblock %}