{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="rules">
    <h2>Общие правила</h2>

    Делаем ставки на игры ЧМ2014.
    <ol>
    <li>Каждый человек может сделать неограниченное число ставок на игру, но засчитывается только последняя перед началом матча. Но зачем-нибудь можно восстановить все попытки;
    <li>Играть можно на деньги и не на деньги:
                <ul>
                    <li>На деньги стартовый взнос 500р, в конце выигрыш делится между победителями. По умолчанию все попадают в список играющих на деньги :)</li>
                    <li>Если хотите поиграть не на деньги, сообщите мне (Лёше) и я проставлю вам соответствующую группу;</li>
                </ul>
    <li>Схема начисления очков:
        <ul>
        <li>Угаданный счёт матча - 5 очков;</li>
        <li>Угаданнная разница в счёте - 2 очка;</li>
        <li>Угаданнный исход - 1 очко;</li>
        <li>В плей-офф можно получить бонусное 1 очко, если правильно проставить прошедшую дальше команду;</li>
    </ul></li>
    <li>В сводной таблице до начала матча можно видеть, кто поставил на игру, но нельзя узнать, какая ставка. Как только матч начался - все ставки открываются </li>
    </ol>
</div>
{% endblock %}